---
name: Build and test PR

permissions:
  contents: read
  packages: write
  # To report GitHub Actions status checks
  statuses: write
  security-events: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:  # yamllint disable-line rule:truthy
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
      - reopened
    branches:
      - main

jobs:
  # This job exists so that PRs from outside the main repo are rejected
  fail_on_remote:
    runs-on: ubuntu-latest
    steps:
      - name: PR must be from a branch in the uksrc/azimuth-images repo
        run: |
          if [ "${{ github.repository }}" != "uksrc/azimuth-images" ]; then
            exit 1
          fi

  lint:
    uses: ./.github/workflows/lint.yml
    needs:
      - fail_on_remote

  # Build, publish and test the images
  build_test_images:
    needs:
      - fail_on_remote
      - lint
    # Don't build draft PRs
    if: ${{ !github.event.pull_request.draft }}
    uses: ./.github/workflows/build_test_images.yaml
    secrets: inherit
